.loginContext{
    font-family: "Merriweather Sans", sans-serif;
    .form{
        margin-bottom: 20px;
    }
    .password{
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
}