.addStreakButton {
    font-family: din-round;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.addStreakButton:hover {
    background-color: #0056b3;
}